* {
    box-sizing: border-box;
}

.messageApp {
    background-color: #969393;
}
.messageWrapper {
    display: flex;
    width: 100%;
    max-width: 375px;
    padding: 20px;
    justify-content: space-between;
}

.message__avatar {
    flex: 0 0 20%;
    max-width: 20%;
    align-items: flex-end;
    display: flex;
}

.message__avatar img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.messageBody {
    flex: 0 0 80%;
    max-width: 80%;
    padding: 10px 55px 25px 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.message__username {
    color: #a041da;
    font-weight: 600;
}

.message__time {
    position: absolute;
    right: 10px;
    bottom: 12px;
    opacity: .65;
}
